*, *:before, *:after {
  @include vendor(box-sizing, border-box);
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.disabled{
  opacity: 0.5;
  pointer-events: none;
}
.clearfix{
  @include clearfix;
}