.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.disabled {
  opacity: 0.5;
  pointer-events: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

@media (min-width: 0) {
  .xs-1 {
    width: 8.33333%;
    float: left; }

  .xs-2 {
    width: 16.66667%;
    float: left; }

  .xs-3 {
    width: 25%;
    float: left; }

  .xs-4 {
    width: 33.33333%;
    float: left; }

  .xs-5 {
    width: 41.66667%;
    float: left; }

  .xs-6 {
    width: 50%;
    float: left; }

  .xs-7 {
    width: 58.33333%;
    float: left; }

  .xs-8 {
    width: 66.66667%;
    float: left; }

  .xs-9 {
    width: 75%;
    float: left; }

  .xs-10 {
    width: 83.33333%;
    float: left; }

  .xs-11 {
    width: 91.66667%;
    float: left; }

  .xs-12 {
    width: 100%;
    float: left; } }
@media (min-width: 768px) {
  .sm-1 {
    width: 8.33333%;
    float: left; }

  .sm-2 {
    width: 16.66667%;
    float: left; }

  .sm-3 {
    width: 25%;
    float: left; }

  .sm-4 {
    width: 33.33333%;
    float: left; }

  .sm-5 {
    width: 41.66667%;
    float: left; }

  .sm-6 {
    width: 50%;
    float: left; }

  .sm-7 {
    width: 58.33333%;
    float: left; }

  .sm-8 {
    width: 66.66667%;
    float: left; }

  .sm-9 {
    width: 75%;
    float: left; }

  .sm-10 {
    width: 83.33333%;
    float: left; }

  .sm-11 {
    width: 91.66667%;
    float: left; }

  .sm-12 {
    width: 100%;
    float: left; } }
@media (min-width: 992px) {
  .md-1 {
    width: 8.33333%;
    float: left; }

  .md-2 {
    width: 16.66667%;
    float: left; }

  .md-3 {
    width: 25%;
    float: left; }

  .md-4 {
    width: 33.33333%;
    float: left; }

  .md-5 {
    width: 41.66667%;
    float: left; }

  .md-6 {
    width: 50%;
    float: left; }

  .md-7 {
    width: 58.33333%;
    float: left; }

  .md-8 {
    width: 66.66667%;
    float: left; }

  .md-9 {
    width: 75%;
    float: left; }

  .md-10 {
    width: 83.33333%;
    float: left; }

  .md-11 {
    width: 91.66667%;
    float: left; }

  .md-12 {
    width: 100%;
    float: left; } }
@media (min-width: 1200px) {
  .lg-1 {
    width: 8.33333%;
    float: left; }

  .lg-2 {
    width: 16.66667%;
    float: left; }

  .lg-3 {
    width: 25%;
    float: left; }

  .lg-4 {
    width: 33.33333%;
    float: left; }

  .lg-5 {
    width: 41.66667%;
    float: left; }

  .lg-6 {
    width: 50%;
    float: left; }

  .lg-7 {
    width: 58.33333%;
    float: left; }

  .lg-8 {
    width: 66.66667%;
    float: left; }

  .lg-9 {
    width: 75%;
    float: left; }

  .lg-10 {
    width: 83.33333%;
    float: left; }

  .lg-11 {
    width: 91.66667%;
    float: left; }

  .lg-12 {
    width: 100%;
    float: left; } }
html {
  min-height: 100%;
  position: relative;
  font-size: 62.5%; }

body {
  margin: 0 0 100px;
  padding: 0;
  font-size: 1.4rem;
  color: #333;
  background-color: #fff; }

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #eee;
  min-width: 1000px; }
  #header #navbar {
    color: #FFF;
    background-color: #000; }
  #header h1 {
    margin: 5px 0;
    font-size: 2.5rem; }

#contents {
  padding-top: 70px; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #ccc;
  min-width: 1000px; }

a {
  color: #8AA8EC;
  text-decoration: none; }
  a:hover {
    opacity: 0.7; }

.main {
  color: #F00; }

.sub {
  color: #0F0; }

.accent {
  color: #00F; }

.color-box {
  background-color: #cccccc;
  margin: 5px;
  padding: 10px; }

/*# sourceMappingURL=style.css.map */
