a{
  color: $link-color;
  text-decoration: none;
  &:hover{
    opacity: 0.7;
  }
}
.main{
  color: $main-color;
}
.sub{
  color: $sub-color;
}
.accent{
  color: $accent-color;
}
.color-box {
  background-color: #cccccc;
  margin: 5px;
  padding: 10px;
}