a{
  color: $link-color;
  text-decoration: none;
  &:hover{
    opacity: 0.7;
  }
}
.main{
  color: $main-color;
}
.sub{
  color: $sub-color;
}
.accent{
  color: $accent-color;
}

.color-box-main{
  @include makeColorBox(100%, 100px, $main-color);
}
.color-box-sub{
  @include makeColorBox(100%, 100px, $sub-color);
}
.color-box-accent{
  @include makeColorBox(100%, 100px, $accent-color);
}

.long-text{
  margin: 20px 0;
  width: 50vw;
  height: 100px;
  background-color: #999;
  .ellipsis{
    @include ellipsis(18px, 1.5, 2, #999);
  }
}