@include base-body($footer-height){
  //body
  color: $main-font-color;
  background-color: $body-bg-color;
};
@include base-container($container-width, $container-padding-lr){
  //.container
};

@include base-header($header-height){
  //#header
  background-color: $header-bg-color;
  min-width: $container-width;
  #navbar{
    color: #FFF;
    background-color: #000;
  }
  h1{
    margin: 5px 0;
    font-size: 2.5rem;
  }
};

@include base-contents($header-height){
  //#contents
}

@include base-footer($footer-height){
  //#footer
  background-color: $footer-bg-color;
  min-width: $container-width;
};